<!DOCTYPE html>
<html>
    <body>
    
    <form action = "/payment/results">

      <div>
        <label for="apr">APR</label> <input id="apr" name = "apr_of" type = "text" placeholder = "E.g. 5.42" > 
      </div>

      <div>
        <label for="timeline">Number of years</label> <input id="timeline" name = "horizon" type = "text" placeholder = "How many years to repay?" > 
      </div>
      
      <div>
        <label for="amount">Principal</label> <input id="amount" name = "pmts" type = "text" placeholder = "How much principal?" > 
      </div>

      <div>
        <button>Calculate monthly payment</button
      </div>

    </form>

  </body>
</html>
