<!DOCTYPE html>
<html>
    <body>
    
    <div>
      <h1>Payment Results</h1>
    </div>

    <dl>
      <dt>APR</dt>
        <dd><%= @annual.to_s(:percentage, { :precision => 4}) %></dd>

      <dt>Number of years</dt>
        <dd><%= @timing.to_i %></dd>

      <dt>Principal</dt>
        <dd><%= @prin.to_s(:currency) %></dd>

      <dt>Payment</dt>
        <dd><%= @final.to_s(:currency) %></dd>
        
    </dl>


    <a href = "/payment/new">
      Calculate another payment
    </a>

  </body>
</html>
