<!DOCTYPE html>
<html>
    <body>
    
    <form action = "/random/results">

      <div>
        <label for="user_number">Minimum</label> <input id="user_number" name = "min_of" type = "text" placeholder = "E.g. 1.5" > 
      </div>

      <div>
        <label for="user_number">Maximum</label> <input id="user_number" name = "max_of" type = "text" placeholder = "E.g. 4.5" > 
      </div>

      <div>
        <button>Pick random number</button
      </div>

    </form>

  </body>
</html>
