<!DOCTYPE html>
<html>
    <body>
    
    <form action = "/square/results">

      <div>
        <label for="user_number">Enter a number</label>
      </div>

      <div>
        <input id="user_number" name = "square_of" type = "text" placeholder = "What number do you want to square of?" > 
      </div>

      <div>
        <button>Calculate square</button
      </div>

    </form>

  </body>
</html>
